<%- include('./includes/head.ejs') %>
</head>
<body class="flex flex-col min-h-screen">        
    <%- include('./includes/navigation.ejs') %>
        <main class="flex-1 flex items-center justify-center">
            <h1 class="text-2xl font-bold">Ups! muy rápido vaquero, página no encontrada, ve a zona segura</h1>
        </main>
    <%- include('./includes/footer.ejs') %>
<%- include('./includes/end.ejs') %>